/Ejercicios/Ejercicio 13 - Teoria/nbproject/private/
/Ejercicios/Ejercicio 13 - Teoria/build/
/Ejercicios/Ejercicio 01/nbproject/private/
/Ejercicios/Ejercicio 01/build/
/Ejercicios/Ejercicio 02/nbproject/private/
/Ejercicios/Ejercicio 02/build/
/Ejercicios/Ejercicio 03/nbproject/private/
/Ejercicios/Ejercicio 03/build/
/Ejercicios/Ejercicio 04/nbproject/private/
/Ejercicios/Ejercicio 04/build/
/Ejercicios/Ejercicio 05/nbproject/private/
/Ejercicios/Ejercicio 05/build/
/Ejercicios/Ejercicio 06/nbproject/private/
/Ejercicios/Ejercicio 06/build/
/Ejercicios/Ejercicio 07/nbproject/private/
/Ejercicios/Ejercicio 07/build/
/Ejercicios/Ejercicio 07/dist/
/Ejercicios/Ejercicio 08/nbproject/private/
/Ejercicios/Ejercicio 08/build/
/Ejercicios/Ejercicio 9/nbproject/private/
/Ejercicios/Ejercicio 9/build/
/Ejercicios/Ejercicio 10/nbproject/private/
/Ejercicios/Ejercicio 11/nbproject/private/
/Ejercicios/Ejercicio 12/nbproject/private/
/Ejercicios/Ejercicio 21/nbproject/private/
/Ejercicios/Ejercicio 11/build/
/Ejercicios/Ejercicio 21/build/
/Ejercicios/Ejercicio 10/build/